/* Google Fonts のインポート */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 基本スタイル */
body {
    background-color: #111;
    color: #eee;
    font-family: 'Press+Start+2P', cursive;
    text-align: center;
    padding: 20px;
    margin: 0;
    overflow-x: hidden;
}

header h1 {
    color: #FFFF00;
    text-shadow: 3px 3px #FF0000;
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* スコア表示 */
#score-display {
    color: #FFFF00;
    font-size: 1.2em;
    margin-top: -20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px #FF0000;
}

#score-value {
    color: #FFFFFF;
    text-shadow: none;
}

/* レスポンシブ (共通) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }
}